:root{

    /* Primary */
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    /* Neutral */
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
}

body{
    
    background-image: url(../assets/images/bg-pattern-top-mobile.svg),
                      url(../assets/images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: top center, bottom center;
    background-color: var(--white);
    color: var(--white);

    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.content{
    width: 88%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.rating-section{
    text-align: center;
    margin-bottom: 3rem;
}

.title{
    line-height: 2rem;
    font-size: 2.2rem;
    color: var(--very-dark-magenta);
}

.qty-users{
    font-size: 2.5rem;
}

.mission-container{
    margin-bottom: 2rem;
}

.mission{
    color: var(--dark-grayish-magenta);
    font-size: 1.15rem;
}

.rated{
    margin-bottom: 1rem;
    padding-top: .8rem;
    padding-bottom: .8rem;

    font-weight: 700;

    background-color: var(--light-grayish-magenta);
    color: var(--very-dark-magenta);
    border-radius: .5rem;
}
.rated-stars{
    margin-bottom: .5rem;
}
.star{
    margin-right: .2rem;
}

.review-card{
    margin-bottom: 1rem;
    padding: 2.5rem 2rem 1rem;
   

    background-color: var(--very-dark-magenta);
    border-radius: .5rem;
}

.user-info{
    display: flex;
    margin-bottom: 1.8rem;
}

.user-status{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.img-profile{
    height: 2.5rem;
    margin-right: 1.5rem;

    border-radius: 2.5rem;
}

.name-profile{
    margin: 0;

    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 400;
}

.user-type{
    color:var(--soft-pink);
    letter-spacing: 1px;
}

.review{
    line-height: 1.4rem;
    font-size: 1rem;
    color: var(--light-grayish-magenta);
}

@media (min-width:1200px){
    
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        background-image: url(../assets/images/bg-pattern-top-desktop.svg),
                      url(../assets/images/bg-pattern-bottom-desktop.svg);
        background-repeat: no-repeat;
        background-position: top left, bottom center;
    }

    .content{
        max-width: 80%;
    }

    .rating-section{
        display: flex;
        text-align: left;
    }

    .title{
        margin-bottom: 1rem;
        line-height: 3.5rem;

        font-size: 4rem;
    }

    .qty-users{
        font-size: 4.2rem;
    }

    .mission{
        font-size: 1.3rem;
    }

    .mission-container{
        /* display: flex;
        flex-direction: column; */
        width: 50%;
        padding-right: 2.5rem;
        margin-bottom: 0;
    }

    .ratings{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        padding-left: 1rem;
    }

    .rated{
        display: flex;
        align-items: center;
        padding: 1rem 0 1rem 1.5rem;
        width: 80%;
        margin-bottom: 1rem;
    }

    .rated-stars{
        margin-right: 1.5rem;
        margin-bottom: 0;
    }

    .review-section{
        display: flex;
        justify-content: space-between;
        height: 17rem;
    }
    
    .review-card{
        margin-bottom: 0;
        width: 32%;
    }
    
    .rated:first-child,
    .review-card:first-child{
        align-self: flex-start;
    }

    .rated:nth-child(2),
    .review-card:nth-child(2){
        align-self: center;
    }

    .rated:nth-child(3),
    .review-card:nth-child(3){
        align-self: flex-end;
    }
    
}
